@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 120 61% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 164 100% 70%;
    --accent-foreground: 164 50% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 120 61% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 202 15% 22%;
    --foreground: 210 40% 98%;
    --card: 202 15% 26%;
    --card-foreground: 210 40% 98%;
    --popover: 202 15% 22%;
    --popover-foreground: 210 40% 98%;
    --primary: 164 100% 70%;
    --primary-foreground: 164 50% 10%;
    --secondary: 202 15% 30%;
    --secondary-foreground: 210 40% 98%;
    --muted: 202 15% 30%;
    --muted-foreground: 210 40% 60%;
    --accent: 120 61% 50%;
    --accent-foreground: 120 61% 10%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 202 15% 30%;
    --input: 202 15% 30%;
    --ring: 164 100% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
